@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 24 24 27;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 24 24 27;
  }
}

body {
  background: rgb(var(--background-rgb));
}
